header .navbar-brand img {
    max-height: 66px;
}

header .navbar-brand {
    padding: 14px 0;
}

.bg-dark-blue, .bg-dark-blue:focus {
    background-color: #2E3192;
}

.bg-very-light-gray {
    background-color: #eff3f7;
}
.bg-base-color, .down-section-line .section-line:before, .header-cart-icon .cart-count {
    background-color: #810100;
}
.header-with-topbar a {
    color: white;
}

footer .footer-logo img {
    max-height: 65px;
}

.blog-grid {
    display: flex;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.bg-gradient-gray-light-dark-transparent {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(32, 35, 41, .8)), to(transparent));
    background-image: linear-gradient(to top, rgb(32 35 41 / 70%) 0, transparent 100%);
}

.home-strategy-image img {
    height: 223px;
    object-fit: cover;
}

.featured .blog-image img {
    min-height: 700px;
    object-fit: cover;
}

.page_main__nw1Wk {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    min-height: 100vh;
}

.featured p {
    font-size: 18px;
    line-height: 30px;
}

.correct-fixed {
    margin-top: 135px;
}

.grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.grid li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blog-image img {
    min-height: 220px;
}

footer .nav-link {
    padding: 0rem 1rem;
}

.home-leadership-image img {
    max-height: 279px;
    width: 100%;
}

header .header-top-bar {
    border-radius: 0;
}

section.half-section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content section {
    padding: 0;
    line-height: 30px;
    color: #333;
}

.content {
    color: #333;
}

.search-container {
    position: relative; /* Allows positioning of elements within*/
  }
  
  .search-form {
    position: absolute;
    top: 100%;
    left: 0;
  }
  .search-input {
    width: 200px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: none; /* Initially hidden */
    opacity: 0; /* Initially hidden */ 
  transition: opacity 0.3s ease-in-out; 
  }
  
 

  .search-input.show {
    display: block;
    opacity: 1; /* Visible when 'show' class is added */
  }

  .h1, h1 {
    font-size: 3rem;
    line-height: 4rem;
}

a, body {
    color: #444444;
}

.accordion-style-02 .right-icon:hover, .btn.btn-base-color {
    background-color: #8b2a2c;
    color: var(--white);
}

.text-gray-400.flex.self-end {
    display: none;
}

.flex.flex-col.text-sm.pb-9 {
    padding-bottom: 0 !important;
}

.AdSectionFooter{
max-width: 800px;
}

header .navbar-brand .alt-logo, header .navbar-brand .default-logo {
    visibility: visible !important; 
    opacity: 1 !important; 
     width: 100% !important; 
}


@media screen and (max-width: 600px) {
    .blog-side-image .blog-box .blog-image {
        min-height: auto;
    }
    .featured .blog-image img {
        min-height: auto;
        object-fit: cover;
    }

    .AdSectionFooter {
        max-width: 800px;
        width: 100%;
    }
    .magazine-section .category-image {
        position: relative;
        width: 80%;
        text-align: center;
        display: flex;
        align-content: center;
        margin: 0 auto;
    }

    .magazine-section .categories-box .category-title {
        display:none !important;
    }

    section.pb-0.pt-15 {
        padding-top:11rem !important;

    }

    .correct-fixed {
        margin-top: 10rem;
    }
    .blog-grid {
        display: flex;
        grid-gap: 20px;
    }
  }